html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', Verdana, sans-serif;
}

h1 {
  color: $color-title;
  text-align: center;
  @extend %font-additional;
  @include font(4.4rem, 700, 5.4rem);
}

h2 {
  color: $color-title;
  @include font(3.4rem, 700, normal);
}

h3 {
  color: $color-title;
  @include font(2.4rem, 700, 3.4rem);
}

h4 {
  color: $color-title;
  @include font(2.2rem, 600, normal);
}

h5 {
  color: $color-text;
  @include font(1.6rem, 700, 2.6rem);
}

p {
  color: $color-text;
  @extend %font-additional;
  @include font(1.6rem, 400, 2.8rem);
}

link,
button {
  cursor: pointer;
}