html {
  font-size: 10px;
  * {
    margin: 0;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', Verdana, sans-serif;
}

h1 {
  color: $color-title;
  text-align: center;
  @extend %font-additional;
  @include font(4.4rem, 700, 5.4rem);
  @include media-mobile {
    @include font(3.2rem, 700, 4.2rem);
  }
  text-align: left;
}

h2 {
  color: $color-title;
  @include font(3.4rem, 700, normal);
}

h3 {
  color: $color-title;
  @include font(2.4rem, 700, 3.4rem);
  @include media-mobile {
    @include font(2.1rem, 700, 3.1rem);
  }
}

h4 {
  color: $color-title;
  @include font(2.2rem, 600, normal);
}

h5 {
  color: $color-text;
  @include font(1.6rem, 700, 2.6rem);
}

p {
  color: $color-text;
  @include font(1.6rem, 400, 2.8rem);
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}