.logo {
  display: flex;
  margin: 0 0 0 37px;
  @include media-mobile {
    margin: 0 0 0 60px;
  }
}

.logo-object {
  @include media-mobile {
    width: 160px;
  }
}

.logo-path {
  @extend %transition;
}

.logo-svg {
  cursor: pointer;
  &:hover {
      .logo-path {
          fill: $color-primary;
      }
  }
}